@keyframes speedometer-appear {
  0% {
    opacity: 0;
    translate: -40px 0;
  }
}

.speedometer {
  position: absolute;
  margin: 1rem;

  animation: speedometer-appear 0.5s ease-in-out;

  transform: skewY(347deg) translateY(-3vh);
  filter: drop-shadow(0 0 15px #ffffff69);
}

.speed {
  position: absolute;
  bottom: 0;

  text-align: center;
  width: 6rem;

  z-index: 1;
}

.speed h3 {
  font-weight: 900;
  font-size: 2rem;

  /* text-shadow: 0 0 15px #ffffff49; */
  font-family: Roboto Mono;
}

.speed > * {
  margin: 0;
  text-transform: uppercase;
}

.speed h3 > span,
.speed p {
  opacity: 0.45;
  text-shadow: 0 0 15px #ffffff39;
}

.speed p {
  text-shadow: 0 0 15px #ffffff39;
}

.radial {
  position: absolute;
  bottom: 45px;

  width: 96px;
  height: 96px;

  display: flex;
  justify-content: center;

  scale: 0.8 0.9;

  -webkit-mask-image: linear-gradient(to bottom, black 99%, transparent 100%);

  z-index: 0;
}

.radial > * {
  position: absolute;
}

.radial-bg {
  opacity: 0.45;
}

.dial circle {
  stroke-dasharray: 235;
  stroke-dashoffset: 60;

  stroke: rgb(var(--color-primary));
  filter: drop-shadow(0 0 2px rgba(var(--color-primary), 0.42));
}

@keyframes indicators-appear {
  0% {
    opacity: 0;
    translate: 0 40px;
  }
  100% {
    opacity: 1;
  }
}

.indicators {
  position: absolute;
  margin: 1rem;

  display: flex;
  gap: 40px;

  opacity: 0;

  transform: skewY(347deg) translateY(-3vh);
  animation: indicators-appear 0.5s ease-in-out 0.5s forwards;
}

.indicators * {
  transition: fill 0.25s ease-in-out;
}

.indicators img:not(.warning) {
  filter: brightness(300%) drop-shadow(0 0 10px #ffffff39);
}

@keyframes indicator-blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    filter: drop-shadow(0 0 5px rgba(var(--color-red), 0.753));
  }
}

.indicators .warning {
  filter: drop-shadow(0 0 15px rgba(var(--color-red), 0.42));

  animation: indicator-blink 1s ease-in-out infinite;
}

.fuel {
  position: relative;
}

.fuel > * {
  position: absolute;
}

.fuel .level {
  left: -8px;
  /* bottom: 3px; */

  width: 4px;
  height: 25px;

  border-radius: 1px;
  background: #ffffff69;
}

.fuel .level span {
  position: absolute;
  bottom: 0;

  display: block;

  width: 100%;

  border-radius: 1px;
  background: #fff;
  box-shadow: 0 0 8px #ffffff69;
}

.heli,
.blade,
.plane {
  position: absolute;
  left: 10px;
  top: -50px;

  width: 85px;
  height: 85px;
}

.gear {
  position: absolute;
  left: 70px;
  top: 8px;

  display: flex;
  align-items: center;
  gap: 4px;

  text-align: center;
  text-transform: uppercase;
}

.plane ~ .gear {
  left: 80px;
}

.gear svg {
  width: 12px;
  height: 12px;
}

.gear p {
  margin: 0;
  font-size: 0.7rem;
  font-family: Roboto Mono;
}

@keyframes gear-flash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes gear-disappear {
  100% {
    opacity: 0;
  }
}

@keyframes blade-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.blade {
  translate: 0.5px -20px;
  transform-origin: center center;

  animation-name: blade-spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-duration: 0.4s; */
}

@keyframes tail-spin {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}

.tail {
  position: absolute;
  width: 2px;
  left: 45.5px;
  top: -13px;

  transform-origin: center center;
  animation-name: tail-spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes propeller-spin {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.propeller {
  position: absolute;
  width: 20px;
  left: 43px;
  top: -52px;

  transform-origin: center center;
  animation-name: propeller-spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.altitude {
  position: absolute;
  right: -56px;
  bottom: 6px;
}

.altitude img {
  position: absolute;
  right: 16px;
  bottom: 10px;
  width: 16px;
}

.altitude .inner {
  position: absolute;
  right: 32px;
  bottom: 0;
  text-align: right;
}

.altitude .inner p:first-child,
.wind-direction p:first-child {
  opacity: 1;
  font-family: Roboto Mono;
}

.wind-direction {
  position: absolute;
  display: flex;

  gap: 4px;

  right: -26px;
  bottom: -26px;

  text-align: left;

  perspective: 200px;

  scale: 0.8;
}

.wind-direction p:nth-child(2) {
  font-size: 0.8rem;
}

.wind-direction img {
  width: 12px;

  transition: transform 0.15s ease-in-out;
}
